<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <img src="logo.jpg" class="navbar-brand" style="height: 75px; margin-left: 20%;">
      </div>
  
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="btn btn-default navbar-btn" id="navbar-right-link" ><i class="fas fa-at"></i></i> Contact Us</a></li>
          <li><a href="/customerPanel/logout" class="btn btn-default navbar-btn" id="navbar-right-link"><i class="far fa-user"></i> Logout</a></li>
        </ul>
    </div><!-- /.container-fluid -->
  </nav>